.currentDay,
.currentDate {
  font-size: 15px;
  font-weight: bold;
}

.input-group {
  margin: 10px 10px;
}

.form-control {
  border: 1px solid rgb(16 30 38);
}

.btn-outline-secondary {
  background: rgb(110 159 173);
  border: 1px solid rgb(16 30 38);
  padding: 8px 10px;
}

.btn-outline-secondary:hover {
  background: rgb(70 131 152);
  border: 1px solid rgb(70 131 152);
}

.fa-magnifying-glass {
  color: black;
}
.fa-location-dot {
  color: red;
}

.variable-data {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
