.Header .currentDay,
.Header .currentDate {
  font-size: 15px;
  font-weight: bold;
}

.Header .input-group {
  margin: 10px 10px;
}

.Header .form-control {
  border: 1px solid rgb(16 30 38);
}

.Header .btn-outline-secondary {
  background: rgb(110 159 173);
  border: 1px solid rgb(16 30 38);
  padding: 8px 10px;
}

.Header .btn-outline-secondary:hover {
  background: rgb(70 131 152);
  border: 1px solid rgb(70 131 152);
}

.Header .fa-magnifying-glass {
  color: black;
}
.Header .fa-location-dot {
  color: red;
}

.Header .variable-data {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
